<!DOCTYPE html>
<html>

<head>
  <title></title>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--link rel="stylesheet" href="./user.css" type="text/css">-->
</head>

<body style="background: #222222 !important;" }>
  <div class="container">
    <div class="row">

      <div class="col-md">
        <h1 style="color:beige; align-self: right;">Choose your Waste Wisely...</h1>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col">

      </div>
      <div class="col">
        <div class="card text-white bg-success mb-3" style="width: 18rem;">
          <img src="https://5.imimg.com/data5/KJ/VW/IS/SELLER-3407004/wet-waste-500x500.jpg" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Wet Waste</h5>
            <p class="card-text">WET WASTE is biodegradable waste and includes Cooked and uncooked food, fruits,
              vegetable peels, flower waste, and other organically decomposable waste. This waste is collected on a
              daily basis and can be handed over in a green bin.</p>
            <a href="/wet/" class="btn btn-secondary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-primary mb-3" style="width: 18rem;">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG_jYsR--rT-VRu4t2fRJRQvI_mxATkDIlLucMGIoi6pexj4VQ"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dry Waste</h5>
            <p class="card-text">Dry waste is typically defined as any waste which will not rot or disintegrate over
              time and has little or no moisture content. Dry waste can also be described as inorganic or
              non-biodegradable waste given its lack of food products.</p>
            <a href="/dry/" class="btn btn-secondary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col">

      </div>
    </div>


    <form action="/waste" method="POST">
      <div class="form-group">
        <input name="topic" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Waste">
      </div>
      <input type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>